/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px; 
    padding: 0px; 
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #fff;
}


.container {
    width: 100%;
    max-width: 1216px;
    margin: auto;
    padding: 0px 25px;
}

.logo a {
    font-family: 'Calistoga';
    font-size: 36px;
}
.logo a span {
    color: #FE6A0F;
}

/* CABEÇALHO */
header a {
    text-decoration: none;
    color: #fff;
}
header .container {
    display: flex;
    align-items: center;
    gap: 104px;
    padding-top: 45px;
    padding-bottom: 45px;
}
header nav {
    display: flex;
    flex: 1;
    align-items: center;
}
header nav .leftside {
    display: flex;
    gap: 64px;
    flex: 1;
}
header nav .leftside a:hover {
    color: #bbb;
}
header nav .rightside .button {
    display: inline-block;
    padding: 20px 48px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 600;
}
header nav .rightside .button:hover {
    color: #bbb;
    border-color: #bbb;
}

header .menu {
    display: none;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
header .menu .line {
    width: 32px;
    height: 6px;
    background-color: #fff;
}

/* ÁREA HERO */
.hero .container {
    display: flex;
}
.hero .leftside {
    flex: 1;
    padding-bottom: 150px;
}
.hero .leftside h1 {
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 74px;
    font-weight: 400;
    margin-top: 50px;
} 
.hero .leftside p {
    font-size: 20px;
    line-height: 26px;
    margin: 65px 0px;
    width: 460px;
}
.hero .leftside .button {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 20px 83px;
    background-color: #FE6A0F;
    border-radius: 5px;
}
.hero .leftside .button:hover {
    opacity: 0.8;
}
.hero .rightside {
    flex: 1;
    text-align: center;
}
.hero .rightside img {
    height: 678px;
    width: auto;
}

/* ÁREA DE BUSCA */
section.search {
    background-color: #1f1f1f;
    padding: 80px 0px;
    margin-top: -100px;
}
.search .search-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}
.search .search-sides {
    display: flex;
    gap: 240px;
}
.search .search-sides .leftside,
.search .search-sides .rightside {
    flex: 1;
}
.search input,
.search select {
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    font-size: 24px;
    outline: none;
    padding: 23px;
}
.search input {
    background-image: url(../images/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
}
.search select {
    border-right: 20px solid transparent;   
}

/* PRODUCTS */
.products-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 32px;
    margin: 64px 0px;
}
.product-item {
    display: block;
    background-color: #2b2b2b;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.product-item:hover {
    opacity: 0.8;
}
.warning {
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 4px;
    padding: 13px 20px;
    background-color: #FE6A0F;
    font-size: 16px;
    font-weight: 600;
}
.photo {
    text-align: center;
    padding: 40px 40px 0px 40px;
}
.photo img {
    height: 194px;
}
.info {
    background-color: #1f1f1f;
    padding: 66px 40px 40px 40px;
    margin-top: -50px;
}
.product-category {
    font-weight: 500;
}
.product-name {
    font-family: 'Calistoga';
    font-size: 32px;
    margin: 8px 0px;
}
.product-price {
    font-weight: 700;
    font-size: 32px;
    color: #FE6A0F;
}

/* RODAPÉ */
footer {
    background-color: #1f1f1f;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
footer .logo a {
    text-decoration: none;
    color: #fff;
}
footer .copyrights {
    font-size: 24px;
    color: #5f5f5f;
}
footer .copyrights a {
    text-decoration: none;
    color: #5f5f5f;
}
footer .copyrights a:hover {
    text-decoration: underline;
}


/* RESPONSIVIDADE SMARTPHONE */
@media (max-width: 820px) {
    header .container {
        justify-content: space-between;
    }
    header nav {
        display: none;
    }
    header .menu {
        display: flex;
    }

    .hero .container {
        flex-direction: column;
    }
    .hero .leftside {
        flex: auto;
        padding-bottom: 22px;
        text-align: center;
    }
    .hero .leftside h1 {
        font-size: 44px;
        line-height: 50px;
    }
    .hero .leftside p {
        width: auto;
        margin: 40px 0px;
    }
    .hero .leftside .button {
        padding: 15px 75px;
    }
    .hero .rightside {
        padding-bottom: 42px;
    }
    .hero .rightside img {
        height: 290px;
    }

    section.search {
        padding-bottom: 22px;
    }
    .search .search-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
    }
    .search .search-sides {
        flex-direction: column;
        gap: 20px;
    }
    .search input,
    .search select {
        font-size: 20px;
    }

    footer .container {
        flex-direction: column;
        gap: 18px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    footer .copyrights {
        font-size: 20px;
    }
}